* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "VT323", monospace;
    background-color: #383e29;
}


#game-board{
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}
.game-border-1{
    border: 10px solid #595f43;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
}
.game-border-2{
    border: 8px solid #abb78a;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
}
.game-border-3{
    border: 30px solid #8b966c;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #8b966c;
}

#instruction-text{
    position: absolute;
    top: 60%;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    color: #333;
    width: 300px;
    padding: 30px;
    margin: 0;
}

.snakes-logo{
    width: 250px;
    height: auto;
    margin: 20px;
    
}

.scores{
    display: flex;
    justify-content: space-between;
    c
}